<h3>Booking Details</h3>
<table mat-table>
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.fullName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">
      {{ element.email }}
    </td>
  </ng-container>
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef>Phone Number</th>
    <td mat-cell *matCellDef="let element">
      {{ element.phoneNumber }}
    </td>
  </ng-container>
  <ng-container matColumnDef="bookingDate">
    <th mat-header-cell *matHeaderCellDef>Booking Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.bookingDate }}
    </td>
  </ng-container>
  <ng-container matColumnDef="notes">
    <th mat-header-cell *matHeaderCellDef>Notes</th>
    <td mat-cell *matCellDef="let element">
      {{ element.notes }}
    </td>
  </ng-container>
  <ng-container matColumnDef="numberOfTickets">
    <th mat-header-cell *matHeaderCellDef>No Of Tickets</th>
    <td mat-cell *matCellDef="let element">
      {{ element.numberOfTickets }}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let rows; columns: displayedColumns"></tr>
</table>
